<div class="flex-row">
    <div>
        <p (click)="openNewProjectForm()">+ Nouveau projet</p>
        <p (click)="openNewTaskForm()">+ Nouvelle tâche</p>
    </div>
    <div>
        <label for="tag">recherche par tag</label>
        <input name="tag" />
    </div>
    <div>
        <label for="user">Recherche par collaborateur</label>
        <select>
            <option>Collaborateur</option>
        </select>
    </div>
</div>

<div class="head-taks">
    <p>Titre</p>
    <p>Créée le</p>
    <p>Deadline</p>
    <p>Temps réalisé</p>
    <p>Temps estimé</p>
    <p>Statut</p>
</div>
@for(project of projects; track project.project_id) {
<h2>{{project.name}}</h2>
@for(task of project.Tasks; track task.task_id) {
<app-task-line [task]="task"></app-task-line>
}
}
<app-new-task-box (style)="changeStyleTaskForm($event)" [class]="styleNewTaskForm"></app-new-task-box>
<app-new-project-box (style)="changeStyleProjectForm($event)" [class]="styleNewProjectForm"></app-new-project-box>